/* Custom navigation bar */

#site-navigation {
  text-transform: uppercase;
  letter-spacing: 4px;
  color: #b3b3b3;
  font-size: 100%;
}

#site-navigation ul {
  list-style: none;
  display: -webkit-inline-flex;
  display: -moz-inline-flex;
  display: -ms-inline-flexbox;
  display: -ms-inline-flex;
  display: inline-flex;
  padding-left: 0px;
}

#site-navigation ul span {
  padding: 0.5em;
}

#site-navigation ul a:hover {
  border-bottom: 1px solid;
}
