/* Custom navigation bar */

.blog-navigation {
    text-transform: uppercase;
    letter-spacing: 4px;
    color: #b3b3b3;
    font-size: 100%;
}

nav.blog-navigation ul {
    list-style: none;
    display: -webkit-inline-flex;
    display: -moz-inline-flex;
    display: -ms-inline-flexbox;
    display: -ms-inline-flex;
    display: inline-flex;
}

nav.blog-navigation ul a {
    margin-left: 6px;
    margin-right: 6px;
}

.navigation-item.active li {
    font-weight: bold;
    background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0));
}
