<footer id="site-footer">
    <div class="container">
        <a href="//github.com/{{ .Site.Params.twitter_name }}" title="Twitter" target="_blank">
          <span class="tooltip"><i class="fa fa-twitter"></i></span>
        </a>
        <a href="{{ .Site.BaseURL }}index.xml" title="Get the RSS feed" target="_blank">
          <span class="tooltip"><i class="fa fa-rss"></i></span>
        </a>
        <a href="//github.com/{{ .Site.Params.github_name }}" title="Github" target="_blank">
          <span class="tooltip"><i class="fa fa-github"></i></span>
        </a>
        <section>&copy; <a href="{{ .Site.BaseURL }}">{{ .Site.Params.author }}</a> 2016 | All rights reserved</section>
    </div>
</footer>

<script type="text/javascript" src="{{ .Site.BaseURL }}js/fittext.js"></script>
<script type="text/javascript">
  $(".heading").fitText();
</script>
