    <header id="site-header">
        <div class="container">
            <a href="{{ .Site.BaseURL }}" alt="{{ .Site.Title }}">
              <h1 class="blog-title heading">{{ .Site.Title }}</h1>
            </a>
            <nav class="blog-navigation">
              <ul>
              {{ $currentNode := . }}
              {{ range .Site.Menus.main }}
                <a class="navigation-item{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .) }} active{{end}}" href="{{.URL}}">
                  <li>{{ .Name }}</li>
                </a>
              {{ end }}
              </ul>
            </nav>
        </div>
    </header>
