    <head>
        {{ partial "meta.html" . }}
        {{ if eq .URL "/" }}
        <title>{{ .Site.Title }}</title>
        {{ else }}
        <title>{{ .Title }} &middot; {{ .Site.Title }} </title>
        {{ end }}
        <link rel="canonical" href="{{ .Site.BaseURL }}" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="{{ .RSSLink }}">
        <link rel="stylesheet" type='text/css' href="{{ .Site.BaseURL }}/css/main.css"/>
        <link href="//fonts.googleapis.com/css?family=Source+Sans+Pro:300|Montserrat:700" rel="stylesheet" type="text/css">
        <link href="//netdna.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.css" rel="stylesheet">
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/9.6.0/styles/default.min.css">
        <link rel='shortcut icon' type='image/x-icon' href='{{ .Site.BaseURL }}/favicon.ico' />
        {{ range .Site.Params.custom_css }}
        <link rel="stylesheet" href="{{ $.Site.BaseURL }}{{ . }}">
        {{ end }}
        {{ if in .URL "/tags/" }}
        <style>
          /* set active the current-tag */
          .post-tag-{{ .Title | urlize }} {
            font-weight: bold;
            background-image: linear-gradient(-100deg, rgba(255, 255, 255, 0), yellow 85%, rgba(255, 255, 255, 0));
          }
        </style>
        {{ end }}
    </head>
